body{
    padding: 10px;
    background: whitesmoke;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin:  auto;

}

.container h2{
    color: blue;
    text-decoration: underline;
}
.container h4{
    color: blueviolet;

}

.container.heading h1{
    border-bottom: 2px solid black ;

}

.image{
    width: 20%;
    padding: 5px;
}

.image-conatiner{
    border: 2px solid black;
}