body{
    padding: 10px;
    background: whitesmoke;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin:  auto;

}

.container h2{
    color: blue;
    text-decoration: underline;
}

.heading h1{
    border-bottom: 2px solid black ;
    color: red;
}

.image{
    width: 50%;
    padding: 10px;
}

.image-conatiner{
    border: 2px solid black;
    
}